<h1>
    <%=book.title%>
</h1>
<p>
    Author: <%=book.author%><br/>
    Genre: <%=book.genre%>
</p>
<p>
<img src="<%=book.details.image_url%>"/>
</p>
<p>
Details from API: <%-book.details.description%>
</p>
